:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --main-font: "Roboto", sans-serif;
}
body {
  background-color: var(--primary-background-color);
  font-family: var(--main-font);
  font-size: 14px;
}
.list {
  list-style: none;
  padding: 0px;
}
/* H2 TITLES */
.works-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* HEADER */
.header .container {
  display: flex;
}
.address {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 85px;
  padding-bottom: 25px;
  padding-top: 24px;
}
.logo-link-accent {
  color: var(--accent-color);
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list {
  display: flex;
}
.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list-item-link,
.contacts-list-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  padding-bottom: 32px;
  padding-top: 32px;
}
.nav-list-item-link:hover,
.nav-list-item-link:focus,
.contacts-list-item-link:hover,
.contacts-list-item-link:focus {
  color: var(--accent-color);
}

.contacts-list-item-link {
  color: var(--secondary-text-color);
  font-style: normal;
}

.current-link {
  color: var(--accent-color);
}
/* HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 30px;
  /* color: var(--primary-background-color); */
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  display: block;
  margin: auto;
}
/* ABOUT US */
.about-list {
  display: flex;
}
.about-list-item {
  width: 270px;
}
.about-list-item:not(:last-child) {
  margin-right: 30px;
}
.about-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.about-list-description {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* WHAT WE DO */
.works-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: var(--primary-background-color); */
}
/* OUR TEAM */
.team-list-item-title,
.team-list-item-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-list-item-desc {
  font-weight: 400;
  color: var(--secondary-text-color);
}
/* CLIENTS */

/* FOOTER */
.footer .logo-link {
  color: var(--primary-background-color);
}
.footer .contacts-list-item-link {
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}
.contacts-location-link {
  /* color: var(--primary-background-color); */
}
.connect-form-slogan {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* color: var(--primary-background-color); */
}

/* PORTFOLIO PAGE */
.filter-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.filter-list-button:hover,
.filter-list-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}
.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.gallery-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.gallery-list a {
  text-decoration: none;
}
.gallery-hover-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}
